:root{
--green: rgb(14, 175, 14);
--wht: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    display: block;
    content: '';
    height: 50px;
}

.navbar{
    background-color: black;
    height: 60px;
}

.nav-link{
    font-size: 20px !important;
}

.nav-link:hover{
    color: var(--green) !important;
}

#home{
    background: url("https://tinyurl.com/y536tus7") center no-repeat; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.829);
    background-blend-mode: multiply;
} 

#home img{
    box-shadow: 0 0 7px 7px rgb(161, 158, 158);
}

#home h1{
    color: white;
}

#homeBtn{
    background: white;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 7px 7px rgb(161, 158, 158);
}

#homeBtn:hover{
    background: var(--green);
}

#certificate{
    background: black;
    color: green;
}

